.app-bar a{
    text-decoration: none;
    background-color: rgba(245, 245, 220, 0.421);
    border: black solid 2px;
    padding: 8px;
    border-radius: 5px;
    color: black;
}

.text-right{
    text-align: right;
}
